<h2><span ng-hide="editUser">Add</span><span ng-show="editUser">Edit</span> user</h2>

<form ng-init="init()">
  <div class="form-group">
    <label for="inputUsername" class="col-sm-2 control-label">User name</label>
    <div class="col-sm-10">
      <input ng-model="user.username" type="text" class="form-control" id="inputUsername" placeholder="User name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input ng-model="user.email" type="text" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputTelephoneNumber" class="col-sm-2 control-label">Telephone number</label>
    <div class="col-sm-10">
      <input ng-model="user.telephoneNumber" type="text" class="form-control" id="inputTelephoneNumber" placeholder="Telephone number">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input ng-model="user.password" type="text" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPasswordConfirm" class="col-sm-2 control-label">Confirm password</label>
    <div class="col-sm-10">
      <input ng-model="user.passwordConfirm" type="text" class="form-control" id="inputPasswordConfirm" placeholder="Confirm password">
    </div>
  </div>    
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-click="save()" ng-disabled="!user.username" type="submit" class="btn btn-default">
		<span class="glyphicon glyphicon-save" aria-hidden="true"></span>
	  </button>
    </div>
  </div>
	
</form>